# f5-terraform - CI Build
# https://github.com/ArtiomL/f5-terraform
# Artiom Lichtenstein
# v1.0.0, 31/08/2018

sudo: required

env:
  global:
  - REPO="artioml/f5-terraform"
  - secure: "nmGW3E2IY30vGXXoQiAzz3/5XA41SNu55YijofXiUYL5mOljJhhhBRE25vcLxnqBUjJSQWRzXcQlaotsTRIXZZ+crO/UJR98Bd5Sops1/CLJjlwE8q6X9BUShAutl8YNZoLxuj/TYFffvt/pF+Ih9ndLNPjmyyLyjpXEQ4Jcw1S5dQbV6rPG8PLBqYPhYuCCoT5azd02jzhL2AFeBctn+k4Z5OfxryiBolGjfLNmRK9SZvRJeVP0MAYH2wnKokQ155ln1x9kjqfYOQQ3mrrUwChopehTrUK4pxr0XCqHUdmme7zEL2WdWTxdowEfFPKgwoXvn4xJic6XhJMx1Y7fOdahhtLFdNbkyHkF0dmn31TxbtkxnvRyQCtBc2XfrxySBY1s91qIAV4LJldrAofT2/kE6r73qRTQn67UHrhMas9NmqWYZHDhIUepflttSh4UVfMlN4Dlr4EHvzKqXb9clZ23wDkkN/icWnIgyedgowE1YZbgBnJAl/wBT/h0uZXY9NShYtY+CcsDj5lu7nEcxxb0lamtM9hJQgtd5YhAI0EqxBoe3+pdzZtZVtAMeLhiX7hm+pWGY96zlqDPQL5kRus1EiSeB8hrZ9lDK0nhGO8SWdMx7nnXRVpQ73KyZhmSvddO3avQGIo/tc+kL4/7ctuB4jhq7XUQ4L4B61RfT/4="
  - secure: "fzBcfV9i2uRbqnZfVxWj9+OXxyH3tbSnsJqXwMF9/wyVxT0iPx5t2b6RgtsQINUUqcVl26TAhLXff6wrEDrsvuk7sE78qsn/MHSd9nhgUKQivnqfiLfTo1OJrEfGYEMsCAcpQq4mHtDGPjZoA8qWt/fY9TmidOjd+a7gCF3LOw0vgDEEtLW9pyW1YD/3Xa9E+PJPt/HOS/zHDKPR7hE06MjKRuqiUoqwxzXOhOXP1U+o94wvlwURrfKI5YwAjU8na4TQXp3ZGTB/tu3mYDfdgAQAMpSQn82IvJE4axpNVQ65Z29NaZrF8m9bvEMcLDZ/Pg4HRjmYVn+GWSItZbw1S5l6FZLrXWvtsLqsWwgD6zW+MFLQJEM4JJMfSmJ+RRgQZQiuGIDGqKkZmP9CWFutjphiwi32vTQXrIay/Hnjp/rJ8HWF0ZxGNZG4SBBJOa3pZjCL13nvcsBmZHa1lfcMcxV/rvaQ7CqKb/aRi2eihk/j3wUfZa8/0/BNMw9BSWT25gc0LQ+gYg+mksMMPnAe62zyYY8YLrKtw5TsqptYAHzjIi96Fuv/GQFdSHuXwhPPoVyvR9wrjVxylIPsgIAZpUBMsZqfJsFfktAoscfu17g5P+D8VLHJQ4C9DjviOHf6V3RtnlkqZCNhdOrz/MkqYragmj34FVwgqn8M63pAXCs="

services:
  - docker

before_script:
  - chmod +x test/run.sh

script:
  - docker build -t $REPO .
  - test/run.sh

after_success:
  - docker images
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u $DOCKER_USER -p $DOCKER_PASS;
    docker push $REPO;
    fi

notifications:
  slack:
    secure: "75/OWYDs2NtBYGQD6AXYDBdgtqSRA3UJKu6j8pGl427r9vr8e7JDZkwv2jD3VrDGOUcQsPnVH+Qq3vegKn4+0WYcxl8mxqjGAdRnsIIz+3hAGjiS5hpe8Cv8MwYV+V+xMa9HgKsTrM/lRHIY1cvrUDwp5Z/2opLdWruC3egrmsdixGni6pwDoslAsAfZBlE6SIoL2a1lF7Mx0TTyF8w60GJs5tcqsVoOodeFogp5hgilNmxGNNb3IgebkmD2laH0TF7OrPWrOKZmmLvB6FqudS8p6si23Xmjz8/xQDNmlYc0uk5dhuxMqzuk/GCkpLdLLbbUvePOb6Y3ym70TmA+LDPLUfY6fup8ysDdC6XOorCEDEUncHzEKTUWDDvggJ+x/Q+XNvW+SS6IB5J43a4xxk2NwNdW+84u2kg+V4/b/YXuqsbOERZXrSGhs2X8N5yr5BHM2ToF0DKMnbYlMqQEKmHgBkHAebBT2d2le2AifaguNILvs62fc4f/4SJ9yxnrTplBZvRIS1azM8jmrE2aDD1Cc4SlASw5Teug+KyFad2xONRvahwxhUej39gKWrpOMKJBtQJ/K6cs/4b9sNUagsBJ8uW1ddujyoO/fjVPIxF/Q6zT5JF6xVhoapSj9gVW1Zq6GiqxG+x72iHi8OAK2Z98qEOCEAXmzTNQRyj0qsY="
